examples/datatable-cache.example.workflow.json
{
  "name": "Data Table Cache — example (read-through loop)",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "id",
              "type": "string",
              "value": "customer-42"
            },
            {
              "id": "a2",
              "name": "query",
              "type": "string",
              "value": "look me up"
            }
          ]
        },
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Build Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 320]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "REPLACE_WITH_TABLE_ID",
          "mode": "id"
        },
        "keyCol": "cache_key",
        "cacheKey": "={{ $json.id }}",
        "payloadCol": "payload",
        "modifiedCol": "last_modified",
        "accessCol": "last_access",
        "ttl": 3600,
        "ttlUnit": 1000,
        "ttlFrom": "modified"
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Data Table Cache",
      "type": "n8n-nodes-datatable-cache.dataTableCache",
      "typeVersion": 1,
      "position": [700, 320]
    },
    {
      "parameters": {},
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Use Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "result",
              "type": "string",
              "value": "={{ 'expensive result for ' + $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Simulate Expensive Work",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 440]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{ "node": "Build Request", "type": "main", "index": 0 }]]
    },
    "Build Request": {
      "main": [[{ "node": "Data Table Cache", "type": "main", "index": 0 }]]
    },
    "Data Table Cache": {
      "main": [
        [{ "node": "Use Result", "type": "main", "index": 0 }],
        [{ "node": "Simulate Expensive Work", "type": "main", "index": 0 }]
      ]
    },
    "Simulate Expensive Work": {
      "main": [[{ "node": "Data Table Cache", "type": "main", "index": 1 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "pinData": {},
  "meta": {
    "note": "Replace REPLACE_WITH_TABLE_ID and select the n8n API credential on the Data Table Cache node. Cache Miss (output 2) loops through your work back into the node's Update input (index 1); Cache Hit (output 1) carries the cached or freshly-stored payload."
  }
}
